// .collection-list {
//     display: flex;

//     div {
//         width: 10%;
//     }
// }

.page-wrapper {
    display: flex;
    // border: 2px solid;
}


.available-collections {
    font-size: 18px;
    font-weight: bold;
    color: #777;
    padding: 15px 10px 5px 10px;
}

.collection-list-container {
    width: 15%;
}

.movie-list-container {
    // border: 2px solid red; 
    width: 85%;
}

.collection-item-container + .collection-item-container {
    border-top: 1px solid #EEE;
}

.collection-item {
    div:nth-child(1) {
        font-weight: bold;
        color: #444;
    }

    div:nth-child(2) {
        padding: 3px 0px;
        font-size: 14px;
        color: #AAA;
    }
}

.add-btn-container {
    padding: 10px;
}