<div class="add-btn-container">
    <a mat-raised-button routerLink="/create-collection"> Create Collection </a>
</div>

<div>
  <mat-grid-list cols="6" rowHeight="100" gutterSize="15px" class="grid-container">
    <mat-grid-tile [colspan]="1" *ngFor="let collection of myCollections" [routerLink]="['/my-collections', collection.title]"> 
      <div class="collection-item">
        <div> {{ collection.title }} </div>
        <div> {{ collection.description }} </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div> 
